@import "font/font.css";
#scrolldriggered{
    display:none;
    position:fixed;
    z-index:10;
    bottom:-210px;
    background-color: #6f99ad;
    -webkit-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#inscroll{
    background-color: #6f99ad;
    font-size:12px;
    padding: 0 20px 10px 20px;
    color: #FFF;
    font-family: Tahoma, Geneva, sans-serif;
    text-shadow: 0 1px 0px #8ba6b3;
}

#inscroll h5{
    font-family: 'AllerBold', Arial, Helvetica, sans-serif;
    color: #FFF;
    font-size: 18px;
    text-shadow: 0 1px 0px #4d7283;
    background-color: #588296;
    border-bottom: 1px dashed #376378;
    display: block;
    margin: 0 -20px 10px -20px;
    padding: 10px 20px 5px 20px;
}
#inscroll p{
    font-size: 16px;
}
#inscroll ul{
    font-size: 16px;
    margin: 10px 0;
    padding: 0;
}
#inscroll ul li{
    list-style: none;
    font-size: 16px;
    background: url("bullet.png") 0 5px no-repeat;
    padding: 0 0 0 20px;
    line-height: 1.5;
}
#inscroll form{
    overflow: hidden;
    margin: 10px 0 0 0;
}
#inscroll input{
    line-height: 30px;
    background-color: #282d34;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #FFF;
    display: block;
    float: left;
    padding: 0 5px;
    border: none;
    width: 60%;
    height: 30px;
    -webkit-box-shadow:  0px 1px 0px 1px #93b3c2;
    box-shadow:  0px 1px 0px 1px #93b3c2;
}
#inscroll input.submit,#inscroll input[type=submit]{
    background-color: #be1616 !important;
    width: 33% !important;
    cursor: pointer;
    float: right !important;
}
#inscroll input.submit:hover,#inscroll input[type=submit]:hover{
    background-color: #db1010 !important;
}

#scrolldriggered #closebox{
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #497387;
    width: 26px;
    height: 26px;
    color: #FFF;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    -webkit-box-shadow: inset 1px 0 1px 1px #6b95a9;
    box-shadow: inset 1px 0 1px 1px #6b95a9;
}

#stbMsgArea {
    display: none;
    padding: 10px 0 0;
    margin: 0;
}