.dgd_stb_box.grass_green { 
	background: #6eb127 url("bg.png") 0 0 repeat; 
	-webkit-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.1); 
	box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.1); 
}
.dgd_stb_box.grass_green .inscroll { 
	background: url("bg.png") 0 0 repeat; 
	font-size: 12px; 
	padding: 0 20px 10px 20px; 
	color: #FFF; 
	font-family: Tahoma, Geneva, sans-serif; 
	text-shadow: 0 1px 0px #dadada; 
}
.dgd_stb_box.grass_green h5 { font-family: Arial, Helvetica, sans-serif; color: #FFF; font-size: 18px; text-shadow: 0 1px 0px #66a523; display: block; padding: 10px 15px 0 0; }
.dgd_stb_box.grass_green p { font-size: 16px; }
.dgd_stb_box.grass_green ul { font-size: 14px; margin: 10px 0; padding: 0; }
.dgd_stb_box.grass_green ul li { list-style: none; font-size: 14px; background: url("bullet.png") 0 6px no-repeat; padding: 0 0 0 25px; line-height: 1.5; }




.dgd_stb_box.grass_green ul.stb_social { overflow: hidden; margin: 10px -7px 0 0; clear: both; }
.dgd_stb_box.grass_green ul.stb_social li { float: left; list-style: none; background: none; padding: 0; height: 30px; margin: 0 7px 0 0; }
.dgd_stb_box.grass_green ul.stb_social li.fb.standard { width: 50px; overflow: hidden; }
.dgd_stb_box.grass_green ul.stb_social li.twitter.regular { width: 80px; }
.dgd_stb_box.grass_green ul.stb_social li.google.medium { width: 60px; }
.dgd_stb_box.grass_green ul.stb_social li.fb.box_count, 
.dgd_stb_box.grass_green ul.stb_social li.google.tall, 
.dgd_stb_box.grass_green ul.stb_social li.twitter.vertical, 
.dgd_stb_box.grass_green ul.stb_social li.linkedin.top, 
.dgd_stb_box.grass_green ul.stb_social li.stumbleupon.s5, 
.dgd_stb_box.grass_green ul.stb_social li.pinterest.vertical { height: 66px !important; }


.dgd_stb_box.grass_green form { overflow: hidden; margin: 10px 0 0 0; }
.dgd_stb_box.grass_green form input { line-height: 30px; background-color: #e5e5e5; -webkit-border-radius: 5px; border-radius: 5px; color: #7a7a7a; display: block; float: left; padding: 0 10px; border: solid 1px #5c8e2c; width: 57%; outline: none; height: 30px; }
.dgd_stb_box.grass_green form input.submit, .dgd_stb_box form input[type=submit] { background-color: #be1616 !important; width: 33% !important; height: 32px !important; cursor: pointer; float: right !important; color: #FFF !important; }
.dgd_stb_box.grass_green form input.submit:hover, .dgd_stb_box form input[type=submit]:hover { background-color: #db1010 !important; }


.dgd_stb_box.grass_green .dgd_stb_box_close { top: 8px; right: 8px; background-color: #609130; width: 20px; height: 20px; color: #FFF; font-size: 13px; font-family: Tahoma, Geneva, sans-serif; text-align: center; text-decoration: none; -webkit-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: 0px 0px 0px 4px #88ac62; box-shadow: 0px 0px 0px 4px #88ac62; line-height: 18px; }
.dgd_stb_box.grass_green .dgd_stb_box_close:hover { -webkit-box-shadow: 0px 0px 0px 4px #94b373; box-shadow: 0px 0px 0px 4px #94b373; }


.dgd_stb_box.grass_green .stbMsgArea { display: none; padding: 10px 0 0; margin: 0; }
